.custom-navbar{
  background: linear-gradient(45deg,#e91e63,#c2185b);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.navbar-brand{
  font-size: 26px;
  font-weight: 700;
  color: #fff !important;
  letter-spacing: 1px;
}

.navbar-brand span{
  color: #ffe4ec;
  font-weight: 400;
}

.nav-link{
  color: #fff !important;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav-link:hover{
  color: #ffe4ec;
}

.nav-link::after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
  border-radius: 10px;
}

.nav-link:hover::after{
  width: 100%;
}

.book-btn{
  background: #fff;
  color: #c2185b;
  padding: 8px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.book-btn:hover{
  background: #ffe4ec;
  color: #c2185b;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}